<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @items.each do |item| %>
    <div class="content_post" style="background-image: url(<%= item.image %>);">
      <p><%= item.text %></p>
      <span class="name"><%= item.user.nickname %></span>
    </div>
  <% end %>
</div>


<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @areas.each do |area| %>
    <div class="content_post" style="background-image: url(<%= area.image %>);">
      <p><%= area.area_text %></p>
      <span class="name"><%= area.user.nickname %></span>
    </div>
  <% end %>
</div>