<% @areas.each do |area| %>
 <%=area.user.nickname%>
 <div class="area">  
   <% if area.image.attached? %>
   <%= image_tag area.image.variant(resize: '500x500'), class: 'message-image' if area.image.attached? %>
    <% end %>

    <div class="area-date">
      <%= area.created_at %>
    </div>

    <div class="area-content">
      <%= area.area_text %>
    </div>

    

    <ul class="more_list">

     <li>
      <%= link_to '詳細', area_path(area.id) %>
     </li>

     <li>
      <%= link_to '編集', edit_area_path(area.id) %>
     </li>

     <li>
      <%= link_to '削除', area_path(area.id), data: { turbo_method: :delete } %>
     </li>
    </ul>

</div>
</div>
<% end %>

