
<div class="messages">
  <% @areas.each do |area| %>

  <div class="item-main">
    
  <div class="item"> 
   <%=area.user.nickname%> 

  <div class="item-date">
    <%= area.created_at %>
  </div> 

  <div class="item-content">
     <%= area.area_text %>
  </div>

  <% if area.image.attached? %>
    <%= image_tag area.image.variant(resize: '500x500'), class: 'message-image' if area.image.attached? %>
  <% end %>

<ul class="more_list">
  
     <%= link_to '詳細', area_path(area.id) %>
<%# <% if user_signed_in? && current_user.id == item.user_id %> 
     <%= link_to '編集', edit_area_path(area.id) %>
     <%= link_to '削除', area_path(area.id), data: { turbo_method: :delete } %>
<%# <% end %> 
<%# <a href="/users/<%= item.user.id %>
  </ul>
</div>
</div>

<hr class="hr1">

<% end %>